<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="HastaneEntities" connectionString="metadata=res://*/Hastane.csdl|res://*/Hastane.ssdl|res://*/Hastane.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Hastane;user id=sa;password=abc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceAdminKontrolSoap" />
        <binding name="WebServiceUyeGirisSoap" />
        <binding name="WebServiceDoldurSoap" />
        <binding name="WebServiceDoktorSoap" />
        <binding name="WebServiceGirisSoap" />
        <binding name="WebServiceHastaneSoap" />
        <binding name="WebServiceKlinikSoap" />
        <binding name="WebServiceListeleSoap" />
        <binding name="WebServiceMesaiSoap" />
        <binding name="WebServiceRandevuSoap" />
        <binding name="WebServiceSaatSoap" />
        <binding name="WebServiceDoktorAraSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51637/WebServiceAdminKontrol.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceAdminKontrolSoap"
        contract="ServiceReference.WebServiceAdminKontrolSoap" name="WebServiceAdminKontrolSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceUyeGiris.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceUyeGirisSoap"
        contract="ServiceReferenceUye.WebServiceUyeGirisSoap" name="WebServiceUyeGirisSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceDoldur.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDoldurSoap"
        contract="ServiceReferenceDoldur.WebServiceDoldurSoap" name="WebServiceDoldurSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceDoktor.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDoktorSoap"
        contract="ServiceReferenceDoktor.WebServiceDoktorSoap" name="WebServiceDoktorSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceGiris.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceGirisSoap"
        contract="ServiceReferenceGiris.WebServiceGirisSoap" name="WebServiceGirisSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceHastane.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceHastaneSoap"
        contract="ServiceReferenceHastane.WebServiceHastaneSoap" name="WebServiceHastaneSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceKlinik.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceKlinikSoap"
        contract="ServiceReferenceKlinik.WebServiceKlinikSoap" name="WebServiceKlinikSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceListele.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceListeleSoap"
        contract="ServiceReferenceListele.WebServiceListeleSoap" name="WebServiceListeleSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceMesai.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceMesaiSoap"
        contract="ServiceReferenceMesai.WebServiceMesaiSoap" name="WebServiceMesaiSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceRandevu.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceRandevuSoap"
        contract="ServiceReferenceRandevu.WebServiceRandevuSoap" name="WebServiceRandevuSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceSaat.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSaatSoap"
        contract="ServiceReferenceSaat.WebServiceSaatSoap" name="WebServiceSaatSoap" />
      <endpoint address="http://localhost:51637/webservis/WebServiceDoktorAra.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDoktorAraSoap"
        contract="ServiceReferenceDoktorAra.WebServiceDoktorAraSoap"
        name="WebServiceDoktorAraSoap" />
    </client>
  </system.serviceModel>
</configuration>